<a href="https://colab.research.google.com/github/QasimKhan5x/Evaluation-Exercise/blob/main/Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
!pip install fastai --upgrade

Requirement already up-to-date: fastai in /usr/local/lib/python3.7/dist-packages (2.2.7)
Requirement already satisfied, skipping upgrade: torchvision<0.9,>=0.8 in /usr/local/lib/python3.7/dist-packages (from fastai) (0.8.2)
Requirement already satisfied, skipping upgrade: spacy<3 in /usr/local/lib/python3.7/dist-packages (from fastai) (2.2.4)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.7/dist-packages (from fastai) (2.23.0)
Requirement already satisfied, skipping upgrade: matplotlib in /usr/local/lib/python3.7/dist-packages (from fastai) (3.2.2)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.7/dist-packages (from fastai) (1.1.5)
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.7/dist-packages (from fastai) (3.13)
Requirement already satisfied, skipping upgrade: fastprogress>=0.2.4 in /usr/local/lib/python3.7/dist-packages (from fastai) (1.0.0)
Requirement already satisfied, skipping upgrade: fastcore<1.4,>=1.3.8 in /usr/local/lib/python3.7/dist-packages (from fastai) (1.3.19)
Requirement already satisfied, skipping upgrade: scikit-learn in /usr/local/lib/python3.7/dist-packages (from fastai) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.7/dist-packages (from fastai) (1.4.1)
Requirement already satisfied, skipping upgrade: torch<1.8,>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from fastai) (1.7.1)
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.7/dist-packages (from fastai) (20.9)
Requirement already satisfied, skipping upgrade: pip in /usr/local/lib/python3.7/dist-packages (from fastai) (19.3.1)
Requirement already satisfied, skipping upgrade: pillow>6.0.0 in /usr/local/lib/python3.7/dist-packages (from fastai) (7.0.0)
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.7/dist-packages (from torchvision<0.9,>=0.8->fastai) (1.19.5)
Requirement already satisfied, skipping upgrade: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (0.8.2)
Requirement already satisfied, skipping upgrade: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (7.4.0)
Requirement already satisfied, skipping upgrade: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (1.0.0)
Requirement already satisfied, skipping upgrade: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (1.0.5)
Requirement already satisfied, skipping upgrade: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (1.0.5)
Requirement already satisfied, skipping upgrade: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (2.0.5)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (54.0.0)
Requirement already satisfied, skipping upgrade: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (4.41.1)
Requirement already satisfied, skipping upgrade: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (0.4.1)
Requirement already satisfied, skipping upgrade: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (3.0.5)
Requirement already satisfied, skipping upgrade: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3->fastai) (1.1.3)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (2020.12.5)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (0.10.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (2.8.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (2.4.7)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (1.3.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fastai) (2018.9)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->fastai) (1.0.1)
Requirement already satisfied, skipping upgrade: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<1.8,>=1.7.0->fastai) (3.7.4.3)
Requirement already satisfied, skipping upgrade: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<3->fastai) (3.7.0)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->fastai) (1.15.0)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy<3->fastai) (3.4.1)

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import os

import torch
import torch.nn as nn
import torch.optim as optim
import torch.utils.data
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader

from fastai import learner
from fastai.data import core
from fastai.metrics import mse
from fastai.callback import schedule

In [59]:
# total columns = 49 (last is AW)
particles = pd.read_csv('particles.csv', usecols=list([0, 4, 5, 6, 7, 8, 9]), header=None, 
                        names=['eid', 'METphi', 'obj1', 'E1', 'pt1', 'eta1', 'phi1'])
particles

                                                                  eid  ...       phi1
0          354;monojet_Zp2000.0_DM_50.0;2.44336e-05;832841;-1.22431;b  ...   520092.0
1           354;monojet_Zp2000.0_DM_50.0;2.44336e-05;732115;1.17245;j  ...    49649.1
2     354;monojet_Zp2000.0_DM_50.0;2.44336e-05;1.05628e+06;-3.06744;j  ...   193865.0
3           354;monojet_Zp2000.0_DM_50.0;2.44336e-05;631781;1.64181;j  ...        NaN
4          354;monojet_Zp2000.0_DM_50.0;2.44336e-05;457316;-1.87536;j  ...        NaN
...                                                               ...  ...        ...
6394        354;monojet_Zp2000.0_DM_50.0;2.44336e-05;914355;1.52903;j  ...   402070.0
6395       354;monojet_Zp2000.0_DM_50.0;2.44336e-05;782256;-1.20751;j  ...   102296.0
6396       354;monojet_Zp2000.0_DM_50.0;2.44336e-05;645619;-2.48399;j  ...  1428010.0
6397      354;monojet_Zp2000.0_DM_50.0;2.44336e-05;632390;-0.975687;j  ...   153340.0
6398     354;monojet_Zp2000.0_DM_50.0;2.44336e-05;820060;-0.0437853;j  ...        NaN

[6399 rows x 7 columns]

In [60]:
particles['eid'] = particles['eid'].str.split(';').apply(lambda x : x[-3:]).apply(lambda x : ';'.join(x))
particles.head()

                      eid      METphi  ...         eta1      phi1
0       832841;-1.22431;b   1.64421;j  ...    2.25014;j  520092.0
1        732115;1.17245;j  -1.84217;j  ...    2.17501;j   49649.1
2  1.05628e+06;-3.06744;j  0.704554;j  ...  -0.550856;j  193865.0
3        631781;1.64181;j  -1.56592;j  ...   -0.806736;       NaN
4       457316;-1.87536;j   1.23734;j  ...    -1.85524;       NaN

[5 rows x 7 columns]

In [61]:
particles['eidIsJ'] = particles['eid'].str.split(';').apply(lambda x : x[-1] == 'j')
particles['METphiIsJ'] = particles['METphi'].str.split(';').apply(lambda x : x[-1] == 'j')
particles['eta1IsJ'] = particles['eta1'].str.split(';').apply(lambda x : False if type(x) == type(1.0) else x[-1] == 'j')

particles.head()

                      eid      METphi       obj1  ...  eidIsJ  METphiIsJ eta1IsJ
0       832841;-1.22431;b   1.64421;j   258722.0  ...   False       True    True
1        732115;1.17245;j  -1.84217;j   457647.0  ...    True       True    True
2  1.05628e+06;-3.06744;j  0.704554;j  1239300.0  ...    True       True    True
3        631781;1.64181;j  -1.56592;j    75998.0  ...    True       True   False
4       457316;-1.87536;j   1.23734;j   332790.0  ...    True       True   False

[5 rows x 10 columns]

In [62]:
particles.shape

(6399, 10)

In [63]:
particles[(particles['eidIsJ']) | (particles['METphiIsJ']) | (particles['eta1IsJ'])].shape

(6392, 10)

In [64]:
particles[(~particles['eidIsJ']) & (~particles['METphiIsJ']) & (~particles['eta1IsJ'])]

                     eid     METphi      obj1  ...  eidIsJ  METphiIsJ eta1IsJ
655    673825;0.390258;b  -2.1971;b  288278.0  ...   False      False   False
659    635439;-2.92769;b  0.206847;       NaN  ...   False      False   False
1344   260068;-1.25616;b   1.8899;b  442099.0  ...   False      False   False
2074    638529;-2.6459;b  0.488063;       NaN  ...   False      False   False
2779  681895;-0.349946;b   2.83166;       NaN  ...   False      False   False
2872  953893;0.0928203;b  -3.04765;       NaN  ...   False      False   False
5177   967728;0.852999;b  -2.28206;       NaN  ...   False      False   False

[7 rows x 10 columns]

In [65]:
particles1 = particles[(particles['eidIsJ']) | (particles['METphiIsJ']) | (particles['eta1IsJ'])]
particles1.reset_index(drop=True, inplace=True)
particles1.head()

                      eid      METphi       obj1  ...  eidIsJ  METphiIsJ eta1IsJ
0       832841;-1.22431;b   1.64421;j   258722.0  ...   False       True    True
1        732115;1.17245;j  -1.84217;j   457647.0  ...    True       True    True
2  1.05628e+06;-3.06744;j  0.704554;j  1239300.0  ...    True       True    True
3        631781;1.64181;j  -1.56592;j    75998.0  ...    True       True   False
4       457316;-1.87536;j   1.23734;j   332790.0  ...    True       True   False

[5 rows x 10 columns]

In [66]:
particles1['eidIsJ'].value_counts()

True     6202
False     190
Name: eidIsJ, dtype: int64

In [68]:
particles1[~particles1['eidIsJ']]

                     eid      METphi      obj1  ...  eidIsJ  METphiIsJ eta1IsJ
0      832841;-1.22431;b   1.64421;j  258722.0  ...   False       True    True
6       224967;1.49304;b  -2.69565;b  287305.0  ...   False      False    True
29    757987;-0.953038;b   3.07611;j  606333.0  ...   False       True    True
173    773428;0.356291;b  -2.28152;j  292305.0  ...   False       True    True
233     595508;1.12034;b  -1.92827;j  464860.0  ...   False       True    True
...                  ...         ...       ...  ...     ...        ...     ...
6266   578522;-2.81396;b  0.127856;j  353462.0  ...   False       True    True
6326   397902;-1.52028;b   1.47404;j  315338.0  ...   False       True    True
6332   750931;-2.80122;b  0.215079;j   97964.8  ...   False       True    True
6334  382918;0.0088392;b   3.02817;j  212026.0  ...   False       True    True
6357   400352;0.770201;b  -2.01148;j  200687.0  ...   False       True    True

[190 rows x 10 columns]

In [69]:
particles1['METphiIsJ'].value_counts()

True     5908
False     484
Name: METphiIsJ, dtype: int64

In [70]:
particles1['eta1IsJ'].value_counts()

True     4771
False    1621
Name: eta1IsJ, dtype: int64

In [71]:
particles1.shape

(6392, 10)

In [72]:
particles1['eid'].nunique()

6392